<div class="container">
    <h1>Lista de candidatos</h1>

    <div class="list-candidates">
        <table>
            <tr>
                <th>Nome completo</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th></th>
            </tr>
            <tr class="candidate" *ngFor="let candidate of candidatesList">
                <td>{{ candidate.full_name }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.phone }}</td>
                <td>
                    <div class="actions">
                        <a class="btn-floating btn waves-effect waves-light" (click) = "navigateToEdit(candidate.id)">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="btn-floating btn waves-effect waves-light" (click) = "deleteCandidate(candidate.id)">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <button class="btn waves-effect waves-light" name="action" (click)="navigateToAdd()">Adicionar Candidato</button>
    </div>
</div>